<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>chart</title>

<meta name="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/chart.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
<script src="../js/echarts.js"></script>
<script src="../js/chart.js"></script>
<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>
	<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
	<div id="chartbox" style="width: 1200px;height:800px;">
		<div class="title">
			
		</div>
		<div class="chartbox">
			<div id="main" style="width:1200px;height:720px;"></div>
			<script type="text/javascript">
				charting('main',null);
			</script>
		</div>
	</div>
</body>
</html>
